.navbar {
  background-color: rgb(11, 11, 11) !important;
}

.nav-link{
  color: white !important;
}

#logo{
  float: left;
  color: white !important;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#listing-articles {
  margin-top: 20px;
  margin-left: 20px;
}

#home_page{
  margin-top: 25px;
}

/* Flickr Pagination Styles */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px;}
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color:white;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }