<h1 id="listing-articles">Edit Category</h1>
<%= render "form", category: @category %>
<div class="row justify-content-center">
  <div class="col-md-8 text-center mt-3">
<%= link_to 'Back to Category', @category, class: 'btn btn-secondary' %>
</div>