<div class="container">
    <% flash.each do |name, message| %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p><%= message %></p>
        </div>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
</div>